body{font-family: Arial-BoldMT, Arial;
overflow: hidden;}
header{
    border-bottom: solid #F0F0F0 1px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: 40px;
    padding-top: 35px;
    padding-bottom:35px;
    min-height: 20px;
}
main{
    position: absolute;
    top: 98px;
    left: 0px;
    right: 0px;
    padding-left: 40px;
    margin-top:29px;
    overflow: hidden;
}
footer{
    height: 39.5px;
    font-family: ArialMT, Arial;
    position: absolute;
    height: 39.5px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-left: 40px;
    padding-top: 24.5px;
}
.footerpart{
    color: rgba(133,133,133,1);
    opacity: 0.6;
    float: left;
    margin-right: 28px;
    height: 15px;
    font-size: 12px;
    font-weight: bold;
}
.footerpart:hover{
    color: rgba(204,51,0,1);
    opacity: 0.8;
}
.footerpart:active{
    color: rgba(204,51,0,1);
    opacity: 1;
}
a:hover{
color: rgb(255,89,89);
}
a:active{
color: red;
}
/*HEADER*/
#logo{
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    width: 108px;
    height: 27px;
    margin-right: 52px;
}
#menu{
	float: left;
	font-size: 10pt;
	z-index: 95;
    vertical-align: middle;
}
.menupart{
    color: rgba(51,51,51,1);
    opacity: 0.6;
	float: left;
    margin-right: 28px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
}
.menupart:hover{
   color: rgba(204,51,0,1);
   opacity: 0.8;
}
.menupart:active{
    color: rgba(204,51,0,1);
    opacity: 1;
}
.menupart.active:hover{
    cursor: default;
    color: #333333;
    opacity: 1;
}
.active{
    color: #333333;
    opacity: 1;
}
/*DEVICE*/
#device-info{
    float: left;
    width: 100%;
}
#device-menu{
    float: left;
    margin-top: 34px;
    margin-bottom: 25px;
    width: 100%;
}
.device-menupart{
    background-color: rgba(247,247,247,1);
    color: rgba(0,0,0,1);
    float: left;
    border-radius: 20px;
    height: 15px;
    margin-right: 28px;
    line-height: 15px;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: bold;
}
#device-list{
    float: left;
    width: 100%;
    max-height: 120px;
    display: flex;
    padding-bottom: 6px;
    flex-wrap: nowrap;
    flex-shrink: 0;
    left: 0px;
    position: relative;
}
.device{
    background-color: rgba(247,247,247,1);
    border-radius: 20px;
    width: 170px;
    height: 90px;
    margin-right: 15px;
    padding: 15px;
    flex-shrink: 0;
}
.device:hover{
    background-color: rgba(255,255,255,1);
    box-shadow: 0 2px 6px 0 ;
}
a:hover,.footerpart:hover,.menupart:hover,.device-menupart:hover,.device:hover,.timetable-scenario:hover,.scenario:hover,.navpart:hover,.popup-btn:hover{
    cursor: pointer;
}
.switch{
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
}
.icon24{
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
}
.icon36{
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: 36px;
}
.icon24{
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
}
.lamp-off{background-image: url(../img/icon_sun@2x.png);}
.lamp-on{background-image: url(../img/icon_sun_2@2x.png);}
.temp-off{background-image: url(../img/icon_temperature@2x.png);}
.temp-on{background-image: url(../img/icon_temperature_2@2x.png);}
.lamp-min{background-image: url(../img/icon_sun_min@2x.png);}
.lamp-max{background-image: url(../img/icon_sun_max@2x.png);}
.device-name{
    margin-top: 16px;
    max-width: 170px;
    font-size: 14px;
    font-weight: bold;
}
.device-status{
    color: rgba(133,133,133,1);
    font-size: 12px;
    letter-spacing: 0.1px;
    margin-top: 4px;
}
.device-menupart.active{
    background-color: rgba(255,217,62,1);
}
.device-menupart.active:hover{
    background-color: rgba(255,217,62,1);
    cursor: default;
}
.device-menupart:hover{
    background-color: rgba(255,217,62,0.5);
}
.device-menupart:active{
    background-color: rgba(255,217,62,0.8);
}
.main-header{
    color: rgba(51,51,51,1);
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 13px;
}
/*RECENT*/
#recent{
    float: left;
    width: 50%;
}
#recent-board{
    background-color: rgba(236,233,228,1);
    background-image: url(../img/bg@2x.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-radius: 25px;
    margin-top: 40px;
    padding: 25px 20px 0px 20px;
    min-width: 500px;
    min-height: 331px;
}
#recent-greting{
    font-size: 27px;
    font-weight: bold;
}
#recent-status{
    color: rgba(51,51,51,1);
    font-size: 14px;
}
#recent-info{
    float: left;
    max-width: 360px;
}
#timetable{
    width: 200px;
    float: right;
    max-height: 331px;
    overflow: hidden;
    padding: 3px 6px 0px 6px;
}
#timetable .device{
    margin-bottom: 15px;
}
.timetable-scenario{
    background-color: rgba(247,247,247,1);
    border-radius: 20px;
    width: 200px;
    height: 120px;
    margin-bottom: 15px;
}
#weather{
    margin-top: 25px;
}
.weather-block{
    float: left;
    margin-right: 18px;
}
.weather-header{
    color: rgba(133,133,133,1);
    font-size: 14px;
}
.weather-temp{
    color: rgba(51,51,51,1);
    font-size: 36px;
    font-weight: bold;
}
.weather-icon{
    float: right;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
}
.cloud-drizzle{
    background-image: url(../img/cloud-drizzle@2x.png);
}
/*SCENARIO*/
#scenario-info{
    /*background-color: lightsteelblue;*/
    float: left;
    width: 50%;
    /*padding-left: 26px;*/
}
#scenario-list{
    margin-top: 40px;
    margin-left: 26px;
    display: flex;
    flex-wrap: wrap;
}
#scenario-menu{
    margin-left: 26px;
}
.scenario{
    background-color: rgba(247,247,247,1);
    border-radius: 20px;
    float: left;
    width: 170px;
    height: 70px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;
    flex-shrink: 0;
}
.scenario:hover{
    background-color: rgba(255,255,255,1);
    box-shadow: 0 2px 6px 0 ;
}
.nav{
    float: right;
    margin-right: 44px;
}
.navpart{
    float: left;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
}
.navpart:hover{
    background-color: rgba(255,217,62,1);
    border-radius: 5px;
}
.navpart:active{
    background-color: yellow;
}
.navpart.active{
    opacity: 1;
}
.scroll-left{
    background-image: url(../img/MCopy@2x.png);
}
.scroll-right{
    background-image: url(../img/MCopy@2x.png);
    transform: scaleX(-1);
}

/*popups*/
.overlay{
    background-color: rgba(51,51,51,0.5);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#popup{
    display: none;
    /*transform-origin: 0% 0%;*/
}
#popup-form{
    position: absolute;
    top: 189px;
    left: 367px;
    transform-origin: 0% 0%;
}
#popup-main{
    background-color: rgba(255,255,255,1);
    border-radius: 20px;
    width: 580px;
    min-height: 200px;
    margin-bottom: 20px;
    padding: 25px;
}
#popup-name{
    color: rgba(51,51,51,1);
    font-weight: bold;
    font-size: 27px;
}
#popup-status{
    margin-top: 6px;
    font-size: 14px;
    margin-bottom: 20px;
}
#popup-info{
    float: right;
}
#popup-info-temp{
    float: left;
    font-size: 36px;
    font-weight: bold;
}
#popup-info .switch{
   float: left;
   width: 48px;
   height: 48px;
}
#popup-menu{
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
#popup-slider{
    float: left;
    width: 100%;
    /*margin-top: 20px;*/
}

/*
Chrome, Safari и Opera
-webkit

Mozilla
-moz
Для стилизации трека добавляем псевдоэлемент ::-moz-range-track
Прогресс выше
Ползунок с псевдоэлементов ::-moz-range-thumb

InternetExplorer
-ms
Для стилизации линии трека используем три псевдоэлемента, так как инпут поделен на три части, это ::-ms-track, ::-ms-fill-lower, ::-ms-fill-upper.
Ползунок - ::-ms-thumb
::-ms-fill-lower
::-ms-fill-upper
::-ms-track
::-ms-thumb
::-ms-ticks-before
::-ms-ticks-after
::-ms-ticks
::-ms-tooltip

-weklit
- для мозиллы moz,
- для оперы o,
- для IE ms
*/

input[type=range] {
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-radius: 30px;
  height: 60px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-radius: 30px;
  height: 60px;

}
input[type=range]::-ms-track {
  color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-radius: 30px;
  height: 60px;
}

input[type=range]::-ms-fill-lower {
    background: transparent;
}
input[type=range]::-ms-fill-upper {
    background: transparent;
}



input[type=range]::-webkit-slider-thumb {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  border: 3px solid rgba(51,51,51,0.10);
  -webkit-box-shadow: 0 0 0 4px #FFFFFF;
  box-shadow: 0 0 0 4px #FFFFFF;
}
input[type=range]::-moz-range-thumb {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  border: 3px solid rgba(51,51,51,0.10);
  -moz-box-shadow: 0 0 0 4px #FFFFFF;
  box-shadow: 0 0 0 4px #FFFFFF;
}
input[type=range]::-ms-thumb {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  border: 3px solid rgba(51,51,51,0.10);
  box-shadow: 0 0 0 4px #FFFFFF;
}

.mintemp,.maxtemp{
    color: red;
    /*color: rgba(255,255,255,1);*/
    position: absolute;
    font-size: 18px;
}
.mintemp{left:0px;}
.maxtemp{right:0px;}

.slider{
    border-radius: 30px;
    float: left;
    height: 60px;
}
.slider-lamp{
    background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
    /*background-image: url(../img/icon_sun_min@2x.png);*/
    /*background-image: url(../img/icon_sun_max@2x.png);*/
}
.slider-temp{
    /*background-image: linear-gradient(-90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);*/
    background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
}
.popup-btn{
    width: 306px;
    height: 60px;
    line-height: 20px;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}
.popup-apply{
    background-color: rgba(255,217,62,1);
}
.popup-apply:hover{
    background-color: rgba(255,205,0,1);
}
.popup-apply:active{
    background-color: rgba(255,217,62,1);
}
.popup-close{
    background-color: rgba(255,255,255,1);
}
.popup-close:hover{
    background-color: rgba(204,51,0,0.8);
}

/*Animations*/
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*@keyframes translateIn {
    0% { 
        transform: translate(0px,160px);
         transform: translate(0px,530px) scale(0);
        transform: translate(-327px,530px) scale(0);
        transform: translate(-112px,530px) scale(0);
        transform: translate(-112px,650px) scale(0);
        transform: translate(103px,530px) scale(0);
        transform: translate(318px,530px) scale(0);
        transform: translate(533px,530px) scale(0);
        transform: translate(748px,160px) scale(0);
    }
    100% {
        transform: translate(0px,0px) scale(1);
    }
}*/

@keyframes translateOut {
    0% { 
        transform: translate(0px,0px);
    }
    100% {
         transform: translate(-112px,530px) scale(0.3);
    }
}

@keyframes scaleIn {
    0% { 
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

#device-list .device{
    animation: fadeIn 1s ease-in-out;
}

/*#popup-form{
    animation: translateIn 0.4s linear, fadeIn 0.4s ease-in-out;
}

#popup-form.deviceHide{
    animation: translateOut 0.4s linear;
}*/



/*check frame size*/
/*header{background-color: #FFCCFF;}
main{background-color: Oldlace;}
footer{background-color: #CCCCFF;}
.footerpart{background-color: Oldlace;}
#logo{background-color: yellow;}
.menupart{background-color: Oldlace;}
#device-info{background-color: cadetblue;}
#recent{background-color: lightblue;}
#timetable{background-color: blue;}
#scenario-info{background-color: lightsteelblue;}*/